// Font
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,button {
  font: inherit;
  font-size: 24px;
}

/* END CSS RESET */

/* DEFAULT STYLES*/

// Primary color
$strongCyan: hsl(172, 67%, 45%);

// Neutral colors
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan1: hsl(186, 14%, 43%);
$darkGrayishCyan2: hsl(184, 14%, 56%);
$lightGrayishCyan1: hsl(185, 41%, 84%);
$lightGrayishCyan2: hsl(189, 41%, 97%);
$white:hsl(0, 0%, 100%);

.App {
  // border: 2px solid red;
  background-color: $lightGrayishCyan1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    color: $veryDarkCyan;
    font-size: 24px;
    margin: 2rem;
    // border: 2px solid black;
    width: 100px;
    height: 70px;
    text-align: center;
    overflow-wrap: break-word;
    letter-spacing: 0.5rem;
  }
}

.main-ui {
  // border: 2px solid yellow;
  background-color: $white;
  width: 100vw;
  padding: 0rem 1.5rem;
  border-radius: 1.2rem 1.2rem 0 0;
}
//remove increment/decrement buttons from the input fields
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
}

input[type=number] {
-moz-appearance: textfield;
background-color: $lightGrayishCyan2;
border: none;
padding: 0.3rem;
}

.inputs {
  margin: 1.5rem 0.5rem;
  label, p{
    font-weight: 700;
    color:$darkGrayishCyan1;
    margin: 10px 0;
  }
  .inputField {
    margin-top: 10px;
  }
  input {
    width: 100%;
    text-align: right;
    font-weight: 700;
    color: $veryDarkCyan;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
  }
  input[name="inputBill"]{
    background: url(../images/icon-dollar.png) no-repeat left 15px center;
    background-color: $lightGrayishCyan2;
  }
  input[name="inputParty"]{
    background: url(../images/icon-person.png) no-repeat left 15px center;
        background-color: $lightGrayishCyan2;
  }
  input:focus::placeholder {
    color:transparent;
  }
}

.input-button-section {
  margin: 1.5rem 0;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 700;
}

.inputBtn {
  background-color: $veryDarkCyan;
  width: 150px;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  color: $lightGrayishCyan2;
  border: none;
  border-radius: 5px;
}
.inputBtn-active {
  background-color: $strongCyan;
  width: 150px;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  color: $veryDarkCyan;
  border: none;
  border-radius: 5px;
}

.inputBtn:hover {
  color: $veryDarkCyan;
  background-color: $strongCyan;
}

input[name="custom-button"] {
  background-color: $lightGrayishCyan2;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 150px;
  padding-right: 1rem;
}

::placeholder {
  text-align: right;
  font-weight: 700;
  opacity: 1;
  color: $darkGrayishCyan1;
}

.results {
  background-color: $veryDarkCyan;
  color: $lightGrayishCyan2;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.result-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.7rem 0;
}

.result-label {
  h2{
    font-size: 16px;
  }
  p {
    color: $darkGrayishCyan2;
    font-size: 14px;
    font-weight: 700;
  }
}

.result-amount {
  font-size: 32px;
  color: $strongCyan;
  font-weight: 700;
}

.resetBtn {
  background-color: hsl(183, 100%, 22%);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: hsl(183, 100%, 19%);
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  font-size: 20px;
}

.resetBtn-active {
  background-color: $strongCyan;
  color: $veryDarkCyan;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  font-size: 20px;
}